<footer class="mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2025 Магазин чая.</p>
            </div>
        </div>
    </div>
</footer>