<div class="sidebar-cloud">
    <h5 class="sidebar-cloud-title">📚 Категории статей</h5>
    <div class="cloud-nav">
        <a href="#" class="cloud-nav-item active">Все посты</a>
        <a href="#" class="cloud-nav-item">История чая</a>
        <a href="#" class="cloud-nav-item">Сорта чая</a>
        <a href="#" class="cloud-nav-item">Польза для здоровья</a>
        <a href="#" class="cloud-nav-item">Способы заваривания</a>
        <a href="#" class="cloud-nav-item">Чайные традиции</a>
        <a href="#" class="cloud-nav-item">Новинки</a>
    </div>
</div>