{% extends "layout.twig" %}

{% block content %}
    <div class="home-page">
        <div class="jumbotron">
            <h1>Добро пожаловать в мир чая</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <p class="5">Откройте для себя лучшие сорта чая со всего мира</p>
                    <p class="fs-5">Мы предлагаем широкий выбор элитных чаев, собранных в лучших садах мира.</p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-cup-hot fs-1 text-success"></i>
                            <h5 class="card-title mt-3">Качество</h5>
                            <p class="card-text">Все наши чаи проходят строгий контроль качества.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-globe fs-1 text-success"></i>
                            <h5 class="card-title mt-3">Происхождение</h5>
                            <p class="card-text">Чай из лучших регионов: Китай, Индия, Япония.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-award fs-1 text-success"></i>
                            <h5 class="card-title mt-3">Награды</h5>
                            <p class="card-text">Наши чаи отмечены международными наградами.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}